.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $size;
  letter-spacing: 1px;
  background-color: $tuatara;
  border: $border-light;

  p {
    font-size: rem(14);
  }
}
