<div class="social">
  <div class="social__item">
    <svg class="social__item-icon">
      <use xlink:href="images/sprites/sprite-mono.svg#github"></use>
    </svg>
  </div>
  <div class="social__item">
    <svg class="social__item-icon">
      <use xlink:href="images/sprites/sprite-mono.svg#twitter"></use>
    </svg>
  </div>
  <div class="social__item">
    <svg class="social__item-icon">
      <use xlink:href="images/sprites/sprite-mono.svg#vk"></use>
    </svg>
  </div>
  <div class="social__item">
    <svg class="social__item-icon">
      <use xlink:href="images/sprites/sprite-mono.svg#vimeo"></use>
    </svg>
  </div>
</div>
