@import 'variables';
@import 'mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $base-size;
  -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

body {
  position: relative;
  min-height: 100%;
  color: $text-light;
  font-family: $primary-font;
  line-height: 1;
  background-color: $text-light;
  background-image: url('../assets/patern/patern.png');
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  @include min-max(320px, 100%, 0);
}

.wrap {
  @include min-max(320px, 1200px, 15px);
}

.hide {
  display: none;
}
