$primary-font: 'Montserrat', sans-serif;
$base-size: 16px;
$size: 80px;
$accent: #56eaf5;
$black: #000000;
$white: #ffffff;
$tuatara: #262626;
$text-light: #bebebe;
$border-dark: 1px solid rgba($black, 0.5);
$border-radius-box: 5px;
$box-dark-shadow: 0 0 5px rgba($black, 0.5);
