<div class="modal cart-modal animate" data-target="form-cart">
  <div class="modal-close-btn"></div>
  <div class="cart-modal__content">

    <div class="cart-modal__desc">Košík</div>

    <div class="cart-modal__wrapper">
      <div class="cart-modal__wrapper-empty">
        <span>
          <svg class="cart-empty-icon">
            <use xlink:href="images/sprites/sprite-mono.svg#cart-smile"></use>
          </svg>
        </span>
        <p>Váš nákupní košík je momentálně prázdný.</p>
      </div>
    </div>

    <div class="cart-modal__send">
      <button class="cart-modal__send-btn">Pokračovát v objednávce</button>
      <div class="cart-modal__send-total">Celková částka: <span>0</span> kč</div>
    </div>

  </div>
</div>
