<div class="modal login-modal animate" data-target="form-login">
  <div class="modal-close-btn"></div>
  <form class="login-modal__content" action="/action_page.php" method="post">
    <div class="login-modal__container">
      <label for="uname">Username</label>
      <input type="text" placeholder="Jméno..." name="username" required>
      <label for="password">Password</label>
      <input type="password" placeholder="Heslo..." name="password" required>
      <button class="modal-submit-btn" type="submit">Login</button>
    </div>
    <div class="login-modal__cancel">
      <span class="login-modal__cancel-password">Zapomněli jste <a href="#">heslo?</a></span>
    </div>
  </form>
</div>
