.style-01 {
  position: relative;
  color: $text-light;
  font-size: clamp(1.5rem, 1.1364rem + 1.8182vw, 2.5rem);
  font-family: $primary-font;
  -webkit-text-stroke: 0.1px rgba($black, 1);
  line-height: 1.2;
  letter-spacing: 2px;
  white-space: nowrap;
  text-transform: uppercase;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    color: rgba($accent, 1);
    border-right: 2px solid $accent;
    animation: style-01 10s linear infinite;
    content: attr(data-text);
    -webkit-text-stroke: 0 rgba($tuatara, 1);
  }
}

@keyframes style-01 {
  0% {
    width: 0;
  }

  70% {
    width: 100%;
  }
}
