<section class="hero">
  <div class="hero__wrap wrap">
    <div class="hero__container container">

      <!-- Hero left -->

      <div class="hero__left">Left</div>

      <!-- Hero right -->

      <div class="hero__right">

        <div class="hero__right-content">
          <h2 class="hero__title style-01" data-text="Gulp Template...">Gulp Template...</h2>
          <p>Startovní šablona, kterou používám jako základ <br> pro tvorbu svých webů</p>
        </div>

      </div>

      <!-- Hero bottom -->

      <div class="hero__bottom">

        <!-- Hero buttons -->

        <div class="hero-buttons">

          <a href="https://code.visualstudio.com/" class="hero-buttons__link" target="_blank">
            <svg class="hero-buttons__icon">
              <use xlink:href="images/sprites/sprite-mono.svg#visual-studio"></use>
            </svg>
          </a>

          <a href="https://www.sublimetext.com/download" class="hero-buttons__link" target="_blank">
            <svg class="hero-buttons__icon">
              <use xlink:href="images/sprites/sprite-mono.svg#sublimetext"></use>
            </svg>
          </a>

          <a href="https://atom.io/" class="hero-buttons__link" target="_blank">
            <svg class="hero-buttons__icon">
              <use xlink:href="images/sprites/sprite-mono.svg#atom"></use>
            </svg>
          </a>

        </div>
      </div>

    </div>
  </div>
</section>
